body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}



h1 {
    color: #555;
    font-size: 2em;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 200px;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
    font-weight: bolder;
}
